apiVersion: v1
kind: ServiceAccount
metadata:
  name: service-b
  namespace: default
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-b
  namespace: default
spec:
  replicas: 1
  selector: { matchLabels: { app: service-b } }
  template:
    metadata: { labels: { app: service-b } }
    spec:
      serviceAccountName: service-b
      containers:
      - name: app
        image: asia-east1-docker.pkg.dev/zero-trust-demo-475103/gcp-app/service-b:1.0
        ports: [{ containerPort: 8080 }]
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: service-b
  namespace: default
spec:
  selector: { app: service-b }
  ports: [{ port: 8080, targetPort: 8080 }]
